<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eisen.dao.orm.mapper.TbFileDetailMapper">
  <!-- Author:eisen  2018-12-18 22:31:53 -->
  <resultMap id="BaseResultMap" type="org.eisen.dao.orm.model.TbFileDetail">
    <id column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="sha_512" jdbcType="CHAR" property="sha512" />
    <result column="sha_256" jdbcType="CHAR" property="sha256" />
    <result column="sha_1" jdbcType="CHAR" property="sha1" />
    <result column="md5" jdbcType="CHAR" property="md5" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_file_detail
    where file_id = #{fileId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.eisen.dao.orm.model.TbFileDetail">
    insert into tb_file_detail (file_id, file_name, file_path, 
      sha_512, sha_256, sha_1, md5, 
      create_datetime)
    values (#{fileId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{sha512,jdbcType=CHAR}, #{sha256,jdbcType=CHAR}, #{sha1,jdbcType=CHAR}, #{md5,jdbcType=CHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.eisen.dao.orm.model.TbFileDetail">
    update tb_file_detail
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      sha_512 = #{sha512,jdbcType=CHAR},
      sha_256 = #{sha256,jdbcType=CHAR},
      sha_1 = #{sha1,jdbcType=CHAR},
      md5 = #{md5,jdbcType=CHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP}
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select file_id, file_name, file_path, sha_512, sha_256, sha_1, md5, create_datetime
    from tb_file_detail
    where file_id = #{fileId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select file_id, file_name, file_path, sha_512, sha_256, sha_1, md5, create_datetime
    from tb_file_detail
  </select>
</mapper>